# Build output
[Bb]in/
[Oo]bj/
[Ll]og/
[Dd]ebug/
[Rr]elease/
x64/
x86/
publish/

# Visual Studio / Rider user-specific files
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser

# NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

# Misc
*.log
*.tmp
tempimage.jpg
