<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Host" value=""/>
    <add key="Port" value=""/>
    <add key="FromEmail" value=""/>
    <add key="FromEmailName" value=" "/>
    <add key="Username" value=""/>
    <add key="Password" value=""/>
  </appSettings>
</configuration>